body {
  display: grid;
  background-color: black;
  font-size: 20px;
}

header {
  background-color: brown;
}

header ul {
  float: right;
}

header li {
  display: inline-grid;
  color: white;
  margin-right: 30px;
}
