header {
  background-color: black;
  height: 150px;
  width: 100%;
  position: relative;
  top: 0;
}

html, body  {
  position: relative;
  min-width: 650px;
  background-color: black;
  height: 100%;
  width: 100%;

}

footer {
  text-align: center;
  color: white;
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 0;
}

footer h4 {
  opacity: 0.5;
  position: center;
}



.mainpart img {
  margin-right: 20px;
  border-radius: 2%;
  height: 300px;
  width: 245px;
  clip-path: circle(40%);
}





.mainpart img:hover{
  opacity: 0.7;
  transform:  scale(1.1);
}


.navigation-bottom img {
  height: 20px;
}

.navigation-bottom {
  float: right;
  padding: 0;
  margin: 0;
}

.main-logo {
  height: 100px;
  margin-left: 50px;
}

.parallax {
  background-image: url("https://images.pexels.com/photos/4109745/pexels-photo-4109745.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 50px;



.time {
  color: white;
  display: inline-block;


}
.time ul {
  margin: 0;
}

.time li {
  display: block;
  font-size: 22px;
}

.middle {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  height: 290px;
  position: relative;
}

.middleRightContent {
  background-color: white;
  display: inline-block;
>>>>>>> Stashed changes
}

.parallax h1 {
  mix-blend-mode: overlay;
}

 header ul {
  margin-top: 55px;
  list-style-type: none;
  position: absolute;
  background-color: none;
  display: inline;
  float: right;
  right: 0;
  margin-right: 70px;



}
li{
  margin: 10px;
  display: inline;
}

li a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font: serif;
}

li a:hover {
  color: beige;
}



header img{
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
  height: 100px;
}

.mainpart {
  position: relative;
  margin-top: 10px;
  height: auto;
  text-align: center;

}





.instaLogo {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
}

.fbLogo {
  background-color: black;
  position: absolute;
  right: 0;

  bottom: 0;
  margin-right: 5%;
}

.fbLogo a:hover, .instaLogo a:hover{
  opacity: 0.7;
}

.bottomPart {
  width: 80%;
  height: 260px;
  background-color: black;
  position: relative;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.map {
  background-color: white;
  position: absolute;
  width: 80%;
  height: 250px;

  float: left;
}

@media only screen and (max-width: 900px) {
  .navigation-button {margin-right: 10px;}
  .map {width: 50%}
  .fbLogo, .instaLogo {margin-right: 20%;}

}
