  html {
  margin: auto;
}

body {
  background-image: url("https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg?cs=srgb&dl=pexels-juan-pablo-serrano-arenas-894695.jpg&fm=jpg"); /* bilde øverst i body */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1024px 300px; /* Størrelse på bilde*/
  background-color: black;
  width: 1024px; /* Størrelse på body */
  margin:0 auto;
  margin-top: 330px;  /* Skyver ned bodyen så headeren ikke blokkerer*/
}

/* ---------------------------------------- ######### overskrifter ######### ----------------------------------------*/

h1 {
  font-size: 30px;
  font-family: 'Georgia', serif;
  color: white;

}

h2 {
  font-family: 'Georgia', serif;
  color: #886750;
  font-size: 2vw;
}

h3 {
  font-family: 'Calibri Light', sans-serif;
  color: #ffffff;
  font-size: 2vw;
}

/* Hovedskriften*/
h4 {
  font-size: 40px;
  font-family: 'Georgia', serif;
  color: white;
  position: absolute; /* Formaterer så hovedskriften kommer under menyen*/
  text-align: center;
  padding-top: 10%;
  left:0; /* For å få hovedskriften i senter */
  right:0; /* For å få hovedskriften i senter */
}

h5 {
  font-size: 10px;
  font-family: 'Georgia', serif;
  color: white;
}

h6 { /*  fotter sosiale medier*/
  font-size: 20px;
  font-family: 'Georgia', serif;
  color: white;
}

p {
  font-family: 'Calibri Light', sans-serif;
  color: #ffffff;
  font-size: 8px;
}

img {
  border-radius: 8px; /* avrunding på hjørnene */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(119, 97, 25, 0.904);
}

/* ---------------------------------------- ######### loading side ######### ----------------------------------------*/

.load_page img{
  box-shadow: none;
}

.load_page {
  position: fixed;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  margin-top: 200px;
  left: 0;
  z-index: 1;
  -webkit-animation: load-out 1s;
  animation: load-out 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes load-out {
  from {
      top: 0;
      opacity: 1;
  }

  to {
      bottom: 100%;
      opacity: 0;
  }
}

@keyframes load-out {
  from {
      top: 0;
      opacity: 1;
  }

  to {
      bottom: 100%;
      opacity: 0;
  }
}

/* inspo: https://stackoverflow.com/questions/244183/how-to-display-a-loading-screen-while-site-content-loads */


/* ---------------------------------------- ######### header start ######### ----------------------------------------*/

header {
  overflow: hidden;
  transition: 0.4s; /* Lager effekten når siden blir scrollet, burde være samme på header og logo */
  position: fixed; /* fixed posisjon */
  width: 100%; /* strekker seg over hele skjermen til bruker */
  top: 0; /* Plassert på toppen */
  z-index: 99;
  font-size: 20px;
  font-weight: bold;
}

header img {
  height: 140px;
  box-shadow: none;
  position: absolute;
  top: 10px;
  left: 0;
}

header ul {
  position: absolute;
  margin-left: 350px;
  margin-top: -5px;
  list-style-type: none;
  padding-left: 90px;
}

header li {
  display: inline-grid;
  margin-right: 30px; /* Åpning mellom menyene*/
  position: relative;
  overflow: hidden;
}

header li a { /* styling på headeren */
  text-decoration: none;
  color: #ffffff; /* Farge på navigasjon */
  font-family: 'Georgia', serif;
}

/* ######### Understrekinga på header ######### */
header li a:after {
  display:block;
  content: '';
  border-bottom: solid 2px #886750;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

header li a:hover:after{
  transform: scaleX(1);
  transform-origin:   0% 100%; /* effekt starter fra venstre */
}

/* ######### Header top (vanlig) ######### */
#top{
  padding: 80px 80px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  height: 150px;
}
#top #logo{
  height: 150px;
}
#top .knapp{
  font-size: 20px;;
}

/* ######### Header scroll ######### */
#scroll{
  padding: 40px 200px;
  font-size: 15px;
  font-weight: normal;
  background-color: black;
  height: 0px;
}

#scroll #logo{
  height: 60px;
}

#scroll .knapp{
  font-size: 15px;
}



#logo {
  transition: 0.4s; /* Lager effekten når siden blir scrollet, burde være samme på header og logo */
}

/* ---------------------------------------- ######### header slutt ######### ----------------------------------------*/

/* ---------------------------------------- ######### footer start ######### ----------------------------------------*/

footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 30px 30px;
  grid-gap: 10px;
  color: white;
  height: auto;
  list-style-type: none;
  font-size: 20px;
}

footer p {
  font-size: 18px;
}

#openstatus{ /* Styler åpningstider-tekst */
  font-size: 25px;;
  line-height: 1.5em;
  font-family: 'Georgia', serif;
  color: #886750;
  font-weight: bold;
}

footer img {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  vertical-align:middle;
  box-shadow: none;
}

#footer-item4 {
  text-align: left;
  margin: auto; /*  fint? */
}

#footer-item4 img{
  width: 40px;
  height: 40px;
  margin: 10px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(100%); /*  fint? */
}

#footer-item2{
  display: inline-grid;
  justify-self: center;
  align-items: center;
}

/*  ######### copyright ######### */
#copyright{
  font-size: 10px;
  font-family: 'Calibri Light', sans-serif;
  width: 100%;
}

#line_footer {
  color: white;
  width: 100%;
}
/* ---------------------------------------- ######### footer slutt ######### ----------------------------------------*/

/* ---------------------------------------- ######### om oss start ######### ----------------------------------------*/
#om{ /* Paragraf om Fryd (om oss), about.html */
  color: white;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
}

#over{ /*Overskriften over om paragrafen, about.html*/
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.flex-containerAbout{ /*flexbox container for #inside-bilde + overskrift og paragraf (#over, #om) */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-item{ /*de ulike items i første flexbox */
  margin: 50px;
  max-width: 500px;
}

.flexbox-item-1{
  min-height: 100px;
}
.flexbox-item-2{
  max-height: 200px;
}

#inside{ /*Bilde av fryd innendørs, about.html */
  margin-right: 10%;
  max-width: 100%;
  height: auto;
}
.aboutpic{ /*Klasse til bildene i about.html */
margin-right: 20%;
margin-top: 50px;
 }

 #vid{ /*Video som er lagt ved på om oss siden, bare et forslag, about.html */
   height: 350px;
   margin-bottom: 0px;
   margin-top: 130px;
   border-radius: 8px;
   width: 500px;
 }

 #aboutOut{ /*Bilde av Fryd utendørs om oss siden, about.html */
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
 }



 @media screen /*regler når skjerm mindre enn 940 px*/
  and (max-width: 940px){
    #vid{
      display: none;
    }
    #aboutOut{
      display: none;
    }
    .flex-containerAbout{
      flex-direction: column-reverse;
    }

    #om{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    #inside{
      display: inline-block;
      max-width: 100%;

    }
     }


/* ---------------------------------------- ######### om oss slutt ######### ----------------------------------------*/


/* ---------------------------------------- ######### hjem start ######### ----------------------------------------*/
/* Grid-container som inneholder to bilder og en liste med åpningstid. */
#grid-container {
  padding: 30px 0px;
  height: 400px;
  display: grid;
  grid-template-columns: 343px 338px 343px;
  color: white;
  font-size: 25px;
}

#grid-container img {
  height: 400px;
  text-align: center;
}

#grid-container ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 25px;
  text-align: center;

}

#grid-container li {
  margin-bottom: 20px;

}
/* Parallax med bilde av bakgrunn  */

#parallax {
  display: grid;
  background-image: url("https://scontent.ftrd3-1.fna.fbcdn.net/v/t39.30808-6/237068793_10219139644552884_2994596445181168571_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=AaG9hQ5x0IgAX_4tOC_&_nc_ht=scontent.ftrd3-1.fna&oh=65174d877c78a5f9209db2d5789700dd&oe=617844C6");
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 50px;
  background-size: 1024px;
}

#grid-container-menu {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 10px;
  height: auto;
  color: white;
  text-align: center;
}

#grid-container-menu img{
  height: 210px;
}

#grid-container-menu h2 {
  font-size: 40px;
  text-align: center;
  margin: auto auto;
}

#homepage_about_container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
  grid-template-areas: "photo about";
  height: 400px;
  padding: 30px 0px;
}

#homepage_about_container img {
  height: 100%;
  grid-area: photo;
}

#homepage_about_container h2 {
  grid-area: about;
  left: auto;
}

#homepage_about_container p {
  grid-area: about;
  margin-top: 100px;
  font-size: 20px;
  font-family: 'Georgia', serif;
  line-height: 35px;
}

#homepage_contact_container {
  display: grid;
  grid-template-columns: 35% 40% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "contact image food";
  height: 500px;
  padding: 30px 0px;
}

#homepage_contact_container #homepage-contact-info {
grid-area: contact;
float: left;
padding: 0;
list-style-type: none;
}

#homepage_contact_container img {
  grid-area: image;
  height: 80%;

}

#homepage_contact_container #homepage-some-text {
  padding: 0;
  float: right;
  grid-area: food;
  list-style-type: none;
}

#map {
  width: 1024px;
  height: 300px;
}



/* ---------------------------------------- ######### galleri start ######### ----------------------------------------*/

#galleri-tittel{
  text-align: center;
  background-color: black;
  padding: 10px;
  letter-spacing: 3px;
}


/* Sentrerer bildene på midten av siden vha flexbox */
.bilde-rad {
  height: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*Velger første element av klasse bilde-rad og øker marginen så den kommer lenger unna header*/
.bilde-rad:first-of-type {
  margin-top: 85px;
}

/*Velger passende str for de små og store bildene*/
.stort-galleribilde {
  max-width: 340px;
  max-height: 395px;
  margin: 10px;
}
.lite-galleribilde {
  max-width: 163px;
  max-height: 185px;
  margin: 10px;
}

/*Omgjør flex-box retning til å være kolonne. Gjør at vi får to og to småbilder over hverandre*/
.bilde-kolonne {
  display: flex;
  flex-direction: column;
}

/* Gjør bildene større ved hover. De små bildene skaleres 1,5 ganger egen str, mens de store 1,2 */
#galleri .stort-galleribilde:hover {
  transform: scale(1.2);
}
#galleri .lite-galleribilde:hover {
  transform: scale(1.5);
}


/*Hvor lang tid skalering ved hover skal ta*/
#galleri img {
  transition: transform .2s;
}

/*Sentrerer hele galleri-siden mot midten*/
#galleri{
  text-align: center;
}

/* ---------------------------------------- ######### galleri slutt ######### ----------------------------------------*/

/* ---------------------------------------- ######### meny start ######### ----------------------------------------*/

#menyene{
  color: white;
  display: flex;
}

.menyListe{
  padding: 1em;
  box-sizing: border-box;
  max-width: 200px;
  border-radius: 1.5em;
  border-style: solid;
  border-color: #3d2e24;
  border-width: 0.25em;
}
.menyBilde{
  padding: 1em;
  box-sizing: border-box;
  max-width: 200px;
  border-radius: 1.5em;
  border-style: solid;
  border-color: #3d2e24;
  border-width: 0.25em;
}

.menyListe ul{
  padding-left: 2em; /* Mindre padding på liste */
  list-style-type: square;
}

#menybilder{ /* Div med bildene du trykker på for å komme til menyene */
  display: flex;
}

#menybilder div img { /* Bilder inne i div-box */
  max-width: 100%;
  box-shadow: none;
}

#menybilder div{
  background-color: #886750;
  padding: 1em;
  margin: 12px;
  max-width: 232px;
  height: 545px;

}
#menybilder h3{
  text-align: center;
}


/* ---------------------------------------- ######### meny slutt ######### ----------------------------------------*/

/* ---------------------------------------- ######### Kontakt start ######### ----------------------------------------*/

/* To kolonner som flyter ved siden av hverandre */
.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 15px;

  /* boks */
  background-color: black;

  /* tekst */
  text-align: center;
  color: white;
}

/* Styling til link epost, telefon og facebook */
a.contact:link {
  text-decoration: none;
  color: white;
}

a.contact:hover {
  text-decoration: underline;
  color: white;
}

a.contact:visited {
  color: white;
}

/* Styling til strek */
.line_contact {
  height: 350px;
  border-left: 2px solid white;
  position: absolute;
  top: 38.5%;
  left: 50%;
}

/* ---------------------------------------- ######### Kontakt slutt ######### ----------------------------------------*/


/* Får kolonnene til å være over hverandre, istedenfor vedsidenav */
@media only screen and (max-width: 900px) {

  *{

  box-sizing: border-box;
  }

  body {
    background-color: black;
    width: 100%;
    margin:0 auto;
  }

  /* funket ikke helt, noen som vet? */
 header, #top .knapp, #scroll .knapp{
   position: relative;
    display: inline-grid;
    background-color: black;
    width: 100%;
    /*word-break: break-all;*/
    font-size: 5px;
    text-align: right;
    }

    #top, #scroll{
      background-color: black;
      height: fit-content;
      block-size: fit-content;
      padding: 25px 25px
      /*width: 100%;*/
      }
      #top #logo{
        height: 30px;
      }
      #scroll #logo{
        height: 30px;
      }


      header ul {
        margin-left: 70%;
        margin-right: 5%;
        margin-top: 5px;
        list-style-type: none;
        font-size: 5px;
      }

      header li {
        display: inline-grid;
        margin-right: 5px; /* Åpning mellom menyene*/
        font-size: 5px;
        overflow: hidden;
      }


/* Hjem */
#grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 100%;
  grid-template-areas: "slideshow"
                        "opening-time"
                        "image";
  height: auto;
  padding: 30px 0px;
  margin: 0 auto;
  justify-content: center;
}

#slideshow {
  grid-area: slideshow;
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;

}

#grid-container  img{
  grid-area: image;
  width: 80%;
  height: auto;
  margin: 30px auto;
}

#grid-container ul{
  width: 80%;
  grid-area: opening-time;
  margin: 0 auto;
  list-style-type: none;
  font-size: 25px;
  justify-content: center;
}

#grid-container li {
  margin-bottom: 20px;
}

#grid-container-menu {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 40% 20% 40%;
  grid-template-areas:   "image1 image2"
                          "menu menu"
                          "image3 image4";
  padding: 30px 0px;
  margin: 0 10%;
  justify-content: center

}


#grid-container-menu-image-1{
  grid-area: image1;
  width: 90%;
  height: auto;
}

#grid-container-menu-image-2{
  grid-area: image2;
  width: 90%;
  height: auto;
}

#grid-container-menu h2 {
  grid-area: menu;
  font-size: 100px;
  text-align: center;
}

#grid-container-menu-image-3{
  grid-area: image3;
  width: 90%;
  height: auto;
}

#grid-container-menu-image-4{
  grid-area: image4;
  width: 90%;
  height: auto;
}




#grid-map-container {
  position: relative;
  display: grid;
  width: 90%;
  height: 300px;
  justify-content: center;
}

#homepage_about_container {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 100%;
  grid-template-areas: "title"
                        "about"
                        "image";
  height: auto;
  padding: 30px 0px;
  margin: 0 auto;
  justify-content: center;
}

#homepage_about_container img {
  grid-area: image;
  width: 80%;
  height: auto;
  margin: 30px auto;
  text-align: center;
}

#homepage_about_container h2 {
  grid-area: title;
  text-align: center;
  margin: auto auto;
}

#homepage_about_container p {
  grid-area: about;
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
  font-family: 'Georgia', serif;
  line-height: 35px;
}

#homepage_contact_container {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 100%;
  grid-template-areas: "food"
                        "image"
                        "contact";
  height: auto;
  padding: 30px 0px;
  margin: 0 auto;
  justify-content: center;
}

#homepage_contact_container #homepage-contact-info {
  width: 100%;
  grid-area: contact;
  margin: 0 auto;
  list-style-type: none;
  font-size: 25px;
  text-align: center;
}

#homepage_contact_container img {
  grid-area: image;
  width: 80%;
  height: auto;
  margin: 30px auto;
  text-align: center;

}

#homepage_contact_container #homepage-some-text{
   width: 100%;
   grid-area: food;
   margin: 0 auto;
   list-style-type: none;
   font-size: 25px;
   text-align: center;
}

#grid-map-container {
  display: grid;
  width: 90%;
  height: auto;
  justify-content: center;
}

#map {
  width: auto;
}

header {
  width: 100%
}

/*######### Kontakt ######### */

/* Får kolonnene til å være over hverandre i kontakt, istedenfor vedsidenav */
.column {
    width: 100%;
}

/* Gjemmer den hvite linja */
.line_contact {
  display: none;
}

/*####### Galleri #######*/
.stort-galleribilde {
  max-width: 50vw;
  max-height: 50vw;
  margin: 10px;
}
.lite-galleribilde {
  max-width: 23vw;
  max-height: 23vw;
  margin: 10px;
}

/* ####### Meny (mobil) ####### */

#menyene{
  color: white;
}

.menyListe{
  border-style: none;
}

.menyListe ul{
  padding-left: 25px; /* Mindre padding på liste */
  list-style-type: square;
  min-width: 200px;
}

#menybilder{ /* Div med bildene du trykker på for å komme til menyene */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
}

#menybilder div img { /* Bilder inne i div-box */
  display: none;
  min-width: 350px;
  box-shadow: none;
}

#menybilder div{
  background-color: transparent;
  color: white;
  padding: 1em;
  margin: 12px;
  max-width: 232px;
  margin: 0px 12px 0px
}
.menyside div ul{
  color: #ffffff !important;
}

#menybilder h3{
  text-align: center;
}

}
