body {
  background-color: #292021;
  padding: 0;
  margin: auto;
  width: 85%;
  min-width: 700px;
  color:#e1d9ce
}

h2 {
  text-decoration: underline;
  letter-spacing: 2px;
}

p,
ul, td {
  font-size: 20px;
  font-family: "Calibri Light", sans-serif;
}

/* unvisited link */
a:link {
  color: #e1d9ce;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #e1d9ce;
}

/* mouse over link */
a:hover {
  color: #e1d9ce;
  text-decoration: underline;
}

.hide {
  list-style-type: none;
}
/* selected link */
a:active {
  color: #e1d9ce;
}

header {
  height: 175px;
}

.header {
  padding-top: 60px;
  border-style: none;
}

#navbar {
  overflow: hidden;
  background-color: #e1d9ce;
  text-transform: uppercase;
  border-style: none;
}

#navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px 25px 5px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Georgia', serif;
  letter-spacing: 1px;
}

#navbar a:hover {
  color: #886750;
  border-bottom: solid 1px #886750;
  line-height: 5px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}

div {
border-style: dashed;
margin: 1em 0em 1em;
border-color: #886750;
border-width: 5px;
padding: 1em;
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 3px;
  background-color: #e1d9ce;
  color: black;
  font-style: italic;
  height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
}

table, td {
border: 1px;
border-style:   groove;
color: white;
font-size: 20px;
margin-left: 5%;
margin-right: 5%;
}

td {
margin:0 3px 0 3px;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  body {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

#navbar {
    height: fit-content;
    block-size: fit-content;
    padding: 25px 25px
}
