html, body {
    background-color: #292021; /* #e1d9ce; ? */
    color: #ffffff;
    margin: auto;
    width: 85%;
    min-width: 650px;
    position: relative;
    color:lightgrey /* Bør endres til en bedre farge */
  }
div {
  border-style: dashed;
  margin: 5em;
  border-color: black; /* Bør kanskje også endres. */
  border-width: 5px;
  padding: 1em;
}


  footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
  }
