/* https://colorpalettes.net/color-palette-2568/ */

html, body {
    background-color: #292021;
    color: #886750;
    margin: auto;
    width: 85%;
    min-width: 650px;
    position: relative;
    color:#e1d9ce
  }
div {
  border-style: dashed;
  margin: 1em 0em 1em;
  border-color: #886750;
  border-width: 5px;
  padding: 1em;
}
img{
  max-width: 100%;
}

p ,ul {
  font-size: 20px;
}


  footer {
    position: fixed;
    margin-top: 3em;
    bottom: 0;
    background-color: #292021;
    width: 100%;
  }

table, td {
  border: 1px;
  border-style:   groove;
  color: white;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

td {
  margin:0 3px 0 3px;
}
figure{
  display: flex;
  
}
figure img{
  height: 400px;
}
figure p{
  padding-right: 1em;
}
.figur{
  text-align: right;
  margin-right: 3em;
}
